.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 15px;
  background: #fff;
  color: #0a0a0a;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /* border-bottom: 1px solid #fff; */
  transition: all 0.4s;
}
.simply-countdown > .simply-section:hover {
  background-color: var(--pink);
  color: #fff;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.4rem;
}
